:root{
    --mainColor01: #b4008a
}
*{
    font-family: sans-serif
}
html{
    overflow: hidden;
}
html *{
    margin:0;
    padding: 0;
}
.genSec{
    width:100vw;
    height: 100vh;
    background-image: linear-gradient(160deg, #250018 0%, #060606 100%);
}
